<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{  css('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css')}}
  <title>Complete Authentication In AdonisJs</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
</head>
<body>

  {{ script('https://code.jquery.com/jquery-3.2.1.slim.min.js') }}

  {{ script('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js') }}

  {{ script('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css') }}
  <nav class="navbar is-dark">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/home">Adonis 4.0 Blog</a>

        <button class="button navbar-burger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end">
          @loggedIn
            <a class="navbar-item" href="/posts">Posts</a>
            <a class="navbar-item" href="/posts/add">Add Post</a>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  {{ auth.user.username }}
                </a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="/logout">Logout</a>
                </div>
              </div>
          @else
            <a class="navbar-item" href="/posts">Posts</a>
            <a class="navbar-item" href="/login">Login</a>
            <a class="navbar-item" href="/register">Register</a>
          @endloggedIn
        </div>
      </div>
    </div>
  </nav>

  <div class="section">
    <div class="container">
      @!section('content')
    </div>
  </div>



</body>
</html>
